.img {
  position: relative !important;
  text-align: center;
  padding: 23px;
}

.card {
  margin: 0 auto;
  text-align: center;
  width: 80%;
  border-radius: 29px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.6);
  transition: 0.7s;
  display: flex;
  flex-direction: column;
}

.separator {
  padding: 12px;
}
