$checkbox-width: 25px;
$checkbox-height: 25px;
$checkbox-b: 3px; // checkbox border width
$checkbox-br: 5px; // checkbox default border-radius
$checkbox-mr: 12px; // checkbox margin right (label checkbox)
